<!-- Example single danger button -->
<div class="btn-group btn-block">
    <i class="fas fa-sliders-h dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
    </i>
    <div class="dropdown-menu">
        <a class="dropdown-item sort-top" href="?sort=top">Top</a>
        <a class="dropdown-item sort-new" href="?sort=new">New</a>
        <a class="dropdown-item sort-old" href="?sort=old">Old</a>
    </div>
</div>