@import url('https://fonts.googleapis.com/css?family=Nunito&display=swap');

* {
  font-family: 'Nunito', sans-serif;
}

#auth {
  display: none;
}

.bg-navy {
  background-color: #1400ff;
}

.bg-red {
  background-color: red;
}

.grid-container {
  margin-left: 15px;
  margin-right: 15px;
  display: grid;
  height: 100%;
  grid-template-columns: 1fr 320px;
  grid-template-rows: 1fr;
  grid-gap: 15px 15px;
  grid-template-areas: 'main sidebar';
}

.sidebar {
  grid-area: sidebar;
}

.main {
  grid-area: main;
}

.module {
  border: 1px solid #ced4da;
  border-radius: 0.25rem;
}

.custom-nav {
  position: sticky;
  min-height: 100vh;
}

.rotate {
  width: 300px;
  /* transform: rotate(-91deg); */
}

@media screen and (max-width: 600px) {
  .custom-nav {
    min-height: 10vh;
  }
  .rotate {
    all: unset;
    width: 100px;
    align-items: flex-end;
  }
}

@media screen and (max-width: 411px) {
  article {
    font-size: 13px;
  }

  .col {
    padding-left: 0 !important;
    padding-right: 0 !important;
  }

  .col-md-5 {
    padding-left: 0px !important;
    padding-right: 0px !important;
  }

  .custom-nav {
    min-height: 10vh;
    width: 100%;
  }
  .container-fluid {
    margin-right: 0 !important;
  }
  .container {
    padding: 0 !important;
  }
  .rotate {
    all: unset;
    width: 100px;
    align-items: flex-end;
  }
  video {
    height: auto;
    width: 260px !important;
  }
}

.test {
  border-radius: 40px;
}

.has-search .form-control {
  padding-left: 2.375rem;
}
video {
  height: auto;
  width: 350px;
}

.has-search .form-control-feedback {
  position: absolute;
  z-index: 2;
  display: block;
  width: 2.375rem;
  height: 2.375rem;
  line-height: 2.375rem;
  text-align: center;
  pointer-events: none;
  color: #aaa;
}

@media screen and (max-width: 768px) {
  .custom-nav {
    min-height: 10vh;
  }
  .rotate {
    all: unset;
    width: 200px;
    align-items: flex-end;
  }
}

/* .main article {
  background-color: #e9ecef;
  margin-bottom: 15px;
  border-radius: 0.25rem;
  border: 1px solid #ced4da;
} */

.main ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.main li {
  display: inline;
}

.main header {
  font-weight: bold;
}

.arrows {
  position: relative;
  float: left;
  padding-left: 5px;
  padding-right: 5px;
  margin-top: 5px;
}

.upvote,
.downvote,
.votes {
  display: block;
  margin: auto;
  text-align: center;
}

.info {
  margin-left: 35px;
}

.sidebar ul {
  list-style-type: none;
  margin: 0px;
  padding: 0px;
}

.actions button {
  display: block;
  width: 100%;
}

#user-info {
  float: right;
  color: white;
}

article {
  padding: 10px;
}

form {
  margin: 0;
}

tr {
  line-height: 5px !important;
}

.jumbotron-fluid {
  border-bottom: 1px solid #ced4da;
  padding: 32px;
  margin-bottom: 15px;
}

.border {
  border-radius: 0.25em;
}

.hide-options {
  display: none;
}

.upvote-post,
.downvote-post,
.upvote-comment,
.downvote-comment {
  cursor: pointer;
}

.thumbnail {
  float: left;
  margin-top: 5px;
  margin-left: 10px;
  margin-right: 10px;
  border-radius: 0.5em;
}

.post-options li,
.comment-options li {
  margin-right: 10px;
}

.post-body,
.comment-body {
  white-space: pre-wrap;
}
